# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
myenv/
imdb/geckodriver.log
SensCritique/geckodriver.log
SensCritique/__pycache__
TextAnalyzer/__pycache__